@use "../abstract" as *;

.btn {
  @extend %btn-reset;
  border-radius: 20px;
  color: var(--background-color);
  background: var(--accent-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.5em;
  font-weight: bold;
  cursor: pointer;

  .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    margin-top: 1px;
    width: 0.875rem;
    background: var(--accent-color);
    height: 2px;
    position: relative;
    transition: 0.2s;
  }

  .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--background-color);
    border-width: 0 2px 2px 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }

  &:hover {
    background-color: var(--secondary-color);
  }

  &:hover .arrow {
    background: var(--background-color);
  }

  &:hover .arrow:before {
    right: 0;
  }

  &--small {
    font-size: 0.875em;
    padding: 0.5em 0.75em;
  }

  &--medium {
    font-size: 1em;
    padding: 0.75em 1em;
  }

  &--large {
    font-size: 1.125em;
    padding: 0.875em 1.25em;
  }
}
