.rich-text-editor {
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 1.25rem;

  img {
    display: block;
    max-height: 250px;
    border-radius: 8px;
    margin: 0.5rem 0;
  }

  .toolbar {
    display: flex;
    border-bottom: 1px solid #ddd;
    background: #f9f9f9;
    padding: 5px;
    gap: 0.25rem;
    flex-wrap: wrap;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .button-group {
      display: flex;
      gap: 0.5rem;
    }

    button {
      background-color: #ebe6e6;
      padding: 0.25rem 0.5rem;
      border-radius: 6px;

      img {
        margin: 0;
      }
    }
  }

  .tiptap {
    padding: 10px;
    outline: none;

    & p.is-editor-empty:first-child::before {
      color: #adb5bd;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      pointer-events: none;
    }
  }

  .character-count {
    align-items: center;
    color: #868686;
    display: flex;
    font-size: 0.75rem;
    gap: 0.5rem;
    padding: 0.5rem 10px;

    svg {
      color: var(--accent-color);
    }

    &--warning,
    &--warning svg {
      color: #f00;
    }
  }
}
