$themes: (
 light: (
   text: rgb(8, 6, 14),
   background: #f5f4fa,
   primary: #654eb5,
   secondary: #cd9ed6,
   accent: #c97fc9,
 ),
 dark: (
   text: #f3f1f9,
   background: #06050a,
   primary: #604ab0,
   secondary: #582961,
   accent: #813681,
 ),
);