$themes: (
 light: (
   text: #01150d,
   background: #effef7,
   primary: #269a54,
   secondary: #74b6f6,
   accent: #536ff4,
 ),
 dark: (
   text: #ecfef7,
   background: #010e08,
   primary: #0edd91,
   secondary: #094a8b,
   accent: #0b26ad,
 ),
);