@use "../abstract" as *;

.header {
  height: $header-height;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .cta {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
