@use "../abstract" as *;

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 18%;
    height: 100%;
    background-color: #f9f9f9a2;
    backdrop-filter: blur(10px);
    border-right: 1px solid #e0e0e02f;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    .organizations {
        width: 30%;
        border-right: 1px solid #e0e0e0;
    }

    .links {
        width: 70%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #888;
        font-size: 0.9rem;
        text-align: center;
    }
}
