@use "../abstract" as *;
@use "../themes" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  // max-width: 1170px;
  // margin: 0 auto;
  padding: 0 2rem;
}

.page-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar router aside"
    "footer footer footer";
  grid-template-columns: 1fr 5fr 2fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

// .router {
//   grid-area: router;
// }

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}

html[data-theme="light"] {
  @include theme-to-css(map-get($themes, light));
}

html[data-theme="dark"] {
  @include theme-to-css(map-get($themes, dark));
}
